rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read access to all files
      allow read: if true;
      
      // Allow write access to specific folders
      match /inventory-images/{imageId} {
        allow write: if true;
      }
      
      match /recipe-images/{imageId} {
        allow write: if true;
      }
    }
  }
}
